
<div ng-app="app">
  <div ng-controller="portfoliosCtrl" ng-init="setup()">
    <h1><%= @portfolio.name %></h1>
    <a href="/investments">Investments Index</a>

    <h2><a href="/investments/84">GE</a> </h2>

    <!-- <div id="comparison-series" style="height: 400px; min-width: 310px; max-width: 700px"></div> -->

<!--     <div class="stock">
      <!%= form_tag "/portfolios/#{@portfolio.id}", method: :get do %>
        <div class="form-group" style="width: 25%">
          <!%= text_field_tag :ticker, params[:ticker], class: 'form-control' %>
        </div>
        <div>
          <!%= submit_tag "Find stock", class: "btn btn-primary" %>
        </div>
      <!% end %>
    </div> -->

    <input style="width: 25%" type="text" placeholder="Search by symbol" ng-model="inputTicker">
    <button ng-click="showTicker=true; searchTicker(inputTicker)">Find Stock</button>

    <div ng-show="showTicker">
      <div style="margin-top: 20px">
        <h4><a href="/investments/{{ investmentId }}">{{ name }}</a></h4>
        <h4>{{ symbol | uppercase }}</h4>
      </div>
      <p>
        <table class="inv">
          <tr>
            <td>Current price: </td>
            <td>{{ price | currency : $ : 2  }}</td>
          </tr>
          <tr>
            <td>Open price: </td>
            <td>{{ openPrice | currency : $ : 2  }}</td>
          </tr>
          <tr>
            <td>Day change:</td>
            <td>{{ percentChange }}</td>
          </tr>
        </table>
      </p>
      <div style="margin-bottom: 30px">
        <input style="width: 25%" type="text" placeholder="Please enter dollar amount" ng-model="inputDollarAmount">
        <button ng-click="addInvestment(inputDollarAmount)">Add to portfolio</button>
      </div>
    </div>


<!--         <!%= form_tag "/investment_portfolios", method: :post do %>
          <!%= hidden_field_tag :investment_id, 2 %>
          <!%= hidden_field_tag :portfolio_id, @portfolio.id %>
          <!%= hidden_field_tag :ticker, params[:ticker] %>
          <!%= hidden_field_tag :purchase_price, @current_price %>
          <div>
            Dollar amount:
            <!%= text_field_tag :cost_basis %>
          </div>
          <!%= submit_tag "Add to portfolio", class: "btn btn-success" %>
        <!% end %> -->

    <!-- performance table begins -->
    <h1 class="text-center">Summary</h1>
    <div class="panel panel-green margin-bottom-40">
      <div class="panel-heading">
        <i class="fa fa-user"></i>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <tr>
            <th></th>
            <th ng-click="changeOrderAttribute('ticker')">Investments</th>
            <th ng-click="changeOrderAttribute('purchase_date')">Purchase Date</th>
            <th ng-click="changeOrderAttribute('cost_basis')">Cost</th>
            <th ng-click="changeOrderAttribute('gainLoss')" class="text-center">G/L</th>
            <th ng-click="changeOrderAttribute('currentValue')" class="text-center">MV</th>
            <th ng-click="changeOrderAttribute('weighting')" class="text-center">Weighting</th>
            <th ng-click="changeOrderAttribute('ytdReturn')" class="text-center">YTD Return</th>
            <th ng-click="changeOrderAttribute('sixMonthReturn')" class="text-center">6 Mo. Return</th>
            <th ng-click="changeOrderAttribute('sinceInceptionReturn')" class="text-center">SI Return</th>
            <th ng-click="changeOrderAttribute('standard_deviation')" class="text-center">Risk</th>
            <th ng-click="changeOrderAttribute('sharpe')" class="text-center">RA Return</th>
            <th ng-click="changeOrderAttribute('correlation')" class="text-center">Correlation</th>
            <th>Remove</th>
          </tr>
          <tr ng-repeat="investmentPortfolio in investmentPortfolios | orderBy:orderAttribute:isOrderDescending">
            <td class="text-center"><img id="logo-portfolio" src="{{ investmentPortfolio.logo }}"></td>
            <td><strong><a href="/investments/{{ investmentPortfolio.investment_id }}">{{ investmentPortfolio.ticker }}</a></strong></td>
            <td>{{ investmentPortfolio.purchase_date }}</td>
            <td>{{ investmentPortfolio.cost_basis | currency : $ : 2 }}</td>
            <td ng-class="{positive: investmentPortfolio.gainLoss > 0, negative: investmentPortfolio.gainLoss < 0}" class="text-center">0{{ investmentPortfolio.gainLoss | currency : $ : 2 }}</td>
            <td class="text-center">0{{ investmentPortfolio.currentValue | currency : $ : 2  }}</td>

            <td class="text-center">{{ investmentPortfolio.weighting * 100 | number : 2 }}%</td>

            <td ng-class="{positive: investmentPortfolio.ytdReturn > 0, negative: investmentPortfolio.ytdReturn < 0}" class="text-center">{{ investmentPortfolio.ytdReturn * 100 | number : 2  }}%</td>
            <td ng-class="{positive: investmentPortfolio.sixMonthReturn > 0, negative: investmentPortfolio.sixMonthReturn < 0}" class="text-center">{{ investmentPortfolio.sixMonthReturn * 100 | number : 2  }}%</td>
            <td ng-class="{positive: investmentPortfolio.sinceInception > 0, negative: investmentPortfolio.sinceInception < 0}" class="text-center">{{ investmentPortfolio.sinceInceptionReturn * 100 | number :2  }}%</td>
            <td class="text-center">{{ investmentPortfolio.standard_deviation * 100 | number :2 }}%</td>
            <td ng-class="{positive: investmentPortfolio.sharpe > 0, negative: investmentPortfolio.sharpe < 0}" class="text-center">{{ investmentPortfolio.sharpe | number : 2 }}</td>
            <td class="text-center">{{ investmentPortfolio.correlation | number :2 }}</td>
            <td class="text-center"><%= link_to 'X', "/investment_portfolios/{{ investmentPortfolio.id }}", method: :delete, class:"btn btn-danger" %></td>
          </tr>
          <tr>
          <td></td>
            <td><strong>Total</strong></td>
            <td class="text-center">-</td>
            <td>{{ getTotalCost() | currency : $ : 2 }}</td>
            <td ng-class="{positive: totalGainLoss > 0, negative: totalGainLoss < 0}"  class="text-center">{{ totalGainLoss | currency : $ : 2 }}</td>
            <td class="text-center">{{ totalCurrentValue | currency : $ : 2 }}</td>
            <td class="text-center">{{ totalWeighting * 100 | number : 0 }}%</td>
            <td ng-class="{positive: weightedYtdReturn > 0, negative: weightedYtdReturn < 0}"  class="text-center">{{ weightedYtdReturn * 100 | number : 2 }}%</td>
            <td ng-class="{positive: weightedSixMonthReturn > 0, negative: weightedSixMonthReturn < 0}"  class="text-center">{{ weightedSixMonthReturn * 100 | number : 2 }}%</td>
            <td ng-class="{positive: weightedSinceInceptionReturn > 0, negative: weightedSinceInceptionReturn < 0}"  class="text-center">{{ weightedSinceInceptionReturn * 100 | number : 2 }}%</td>
            <td class="text-center">{{ totalPortfolioRisk * 100 | number : 2 }}%</td>
            <td ng-class="{positive: totalPortfolioSharpe > 0, negative: totalPortfolioSharpe < 0}"  class="text-center">{{ totalPortfolioSharpe - 1 | number : 2 }}</td>
            <td class="text-center">{{ totalPortfolioCorrelation - 1 | number : 2 }}</td>
            <td class="text-center"></td>
          </tr>
        </table>
      </div>
    </div><!-- performance table ends -->

  </div>
</div>

<p><%= link_to 'Delete Portfolio', "/portfolios/#{@portfolio.id}", method: :delete, class:"btn btn-danger" %></p>




