<% if current_user %>
  <!-- modal begins -->
  <div class="margin-bottom-40">
    <button class="btn-u" data-toggle="modal" data-target="#responsive">Create New Portfolio</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form action="/portfolios" method="post">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel4">New Portfolio</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <h4>Name</h4>
                  <p><input class="form-control" type="text" name="name" id="name"></p>
                  <%= hidden_field_tag :user_id, current_user.id %>
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn-u btn-u-primary">Save changes</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div><!-- modal ends -->
<% end %>

<!-- <div id="single-series-home" style="height: 400px; min-width: 310px; max-width: 700px"></div> -->

<div ng-app="app">
  <div ng-controller="homepageCtrl" ng-init="setup()">
    <!-- performance table begins -->
    <h1 class="text-center">Top 10 YTD Performance</h1>
    <div class="panel panel-blue margin-bottom-40">
      <div class="panel-heading">
        <i class="fa fa-tasks"></i>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <th ng-click="changeOrderAttribute('name')">Portfolio</th>
            <th ng-click="changeOrderAttribute('ytdReturn')" class="text-center">YTD Return</th>
            <th ng-click="changeOrderAttribute('sixMonthReturn')" class="text-center">6 Mo. Return</th>
            <th ng-click="changeOrderAttribute('sinceInceptionReturn')" class="text-center">Since Inception Return</th>
            <th ng-click="changeOrderAttribute('standard_deviation')" class="text-center">Risk</th>
            <th ng-click="changeOrderAttribute('sharpe')" class="text-center">Risk Adjusted Return</th>
            <th ng-click="changeOrderAttribute('correlation')" class="text-center">Correlation</th>
          </tr>
          <tr ng-repeat="portfolio in portfolios | orderBy:orderAttribute:isOrderDescending"">
            <td><a href="/portfolios/{{ portfolio.id }}">{{ portfolio.name }}</a></td>
            <td ng-class="{positive: weightedYtdReturn > 0, negative: weightedYtdReturn < 0}"  class="text-center" class="text-center">0<!-- {{ weightedYtdReturn * 100 | number : 2 }} -->%</td>
            <td ng-class="{positive: weightedSixMonthReturn > 0, negative: weightedSixMonthReturn < 0}"  class="text-center" class="text-center">0<!-- {{ weightedSixMonthReturn * 100 | number : 2 }} -->%</td>
            <td ng-class="{positive: weightedSinceInceptionReturn > 0, negative: weightedSinceInceptionReturn < 0}"  class="text-center" class="text-center">0<!-- {{ weightedSinceInceptionReturn * 100 | number : 2 }} -->%</td>
            <td class="text-center">0<!-- {{ totalPortfolioRisk * 100 | number : 2 }} -->%</td>
            <td ng-class="{positive: totalPortfolioSharpe > 0, negative: totalPortfolioSharpe < 0}"  class="text-center" class="text-center">0<!-- {{ totalPortfolioSharpe | number : 2 }} --></td>
            <td class="text-center">0<!-- {{ totalPortfolioCorrelation | number : 2 }} --></td>
          </tr>

        </table>
<!--         <table class="table table-hover">
          <tr>
            <th>Portfolio</th>
            <th class="text-center">YTD Return</th>
            <th class="text-center">6 Mo. Return</th>
            <th class="text-center">Since Inception Return</th>
            <th class="text-center">Risk</th>
            <th class="text-center">Risk Adjusted Return</th>
            <th class="text-center">Correlation</th>
          </tr>
          <!% @portfolios.each do |portfolio| %>
          <tr>
            <td><strong><!%= portfolio.name %></strong></td>
            <td class="text-center">2%</td>
            <td class="text-center">8%</td>
            <td class="text-center">30%</td>
            <td class="text-center">16.1%</td>
            <td class="text-center">.40</td>
            <td class="text-center">.72</td>
          </tr>
          <!% end %>
        </table> -->
      </div>
    </div><!-- performance table ends -->
  </div>
</div>



