#logo-show {
  max-width: 150px;
  max-height: 125px;
}

#logo-portfolio {
  max-width: 70px;
  max-height: 40px;
}

.top-padding {
  margin-top: 20px;
}

#investment-table-pad {
  margin: 0px 0px 320px 75px;
}

#inv-bottom-pad {
  padding-bottom: 50px;
}

#inv-name-pad {
  padding-top: 10px;
}

.search-top-pad {
  padding-top: 50px;
}
