hr {
  width: 100%
}

.h-style {
  margin-left: 30px;
  font-size: 32px;
  // color: #FF4C4C;
}

.port-chart-padding {
  float: left;
}

// #comparison-series {
//   height: 400px;
//   min-width: 760px;
// }

#single-series-home {
  height: 400px;
  min-width: 760px;
}

.p-title {
  font-size: 30px!important;
  color: white;
}

.fa-trash {
  color: red;
}

.borderless td, .borderless th {
    border: none!important;
}

.margin-top {
  clear: both;
  // margin-top: 300px;
}

.margin-bottom {
  margin-bottom: 30px;
}
