hr {
  width: 100%
}

.port-chart-padding {
  float: left;
}

// #comparison-series {
//   height: 400px;
//   min-width: 760px;
// }

#single-series-home {
  height: 485px;
  min-width: 760px;
}

.p-title {
  font-size: 30px!important;
  color: white;
}

.fa-trash {
  color: red;
}

.borderless td, .borderless th {
  border: none!important;
}

.margin-top {
  clear: both;
  // margin-top: 300px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.delete-margin {
  margin: 600px 0 40px 0;
}

// #portfolio-name {
//   background-color: grey;
//   height: 100px;
//   margin-bottom: 50px;
// }

#port-margin-top {
  margin-top: 40px;
}

.breadcrumbs {
  height: 100px;
}
